{% extends "base.html.twig" %}

{% block title %}SymRecipe - Accueil {% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur SymRecipe</h1>
        <p class="lead">
            SymRecipe est une application qui va te permettre de creer des recettes à base d'ingrédiens que tu auras toi meme creer. Tu pourras partager tes recttes à la comminauté du site, ou bien les garder en privé.  
        </p>
        <hr class="my-4">
        <p>Pour commercer, render-vous sur la pge d'inscription pour utiliser l'application</p>
        <a class="btn btn-primary btn-lgz" href="#" role="button">Inscription</a>
    </div>
</div>
{% endblock %}

 